
body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 0; 
  font-family: system-ui;
  background-color: #f9f9f9;
  padding: 2rem 0;
}

header{
  padding-bottom: 2rem;
}

header h1{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

header p{
  font-size: 0.875rem;
  text-align: center;
}

sandbox-block,
.proto__sandbox{
  position: relative;
  width: 100%;
  max-width: 800px; 
}

sandbox-block .sandbox__wrapper{
  overflow: hidden;
  width: 100%;

  border-radius:4px;
  border: 1px solid #eeebeb;
  box-shadow: 0px 0px 2px 1px #ebebeb;
  background-color: #fff;
}

sandbox-block canvas{
  /* display: none; */
}

sandbox-block .sandbox__wrapper{
  
}

sandbox-block.loaded .sandbox__wrapper{

}

sandbox-block.empty .sandbox__wrapper{
  min-height: 50px;
  background: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #6f6f6f;
}

sandbox-block .sandbox__caption{
  margin: 8px 0 0;
  font-weight: 400;
  font-size: 14px;
}

sandbox-block .sandbox__meta{
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.proto__sandbox__caption{
  content: 'Matter.js experiment';
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 16px;
  transform: translate(0, 100%);
}

sandbox-block + sandbox-block,
.proto__sandbox + .proto__sandbox{
  margin-top: 32px;
}


sandbox-info{ 
  position: relative;
}

sandbox-info .a{
  transition: opacity .12s ease-out;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 0px;
  right: 30px;
  background: #ededed;
  padding: 10px 10px;
  font-size: 12px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 1px #ebebeb;
  border: 1px solid #ddd;
  white-space: nowrap;
}
sandbox-info button{
  width: 1.25rem;
  height: 1.25rem;
  border: 0px;
  background: #ededed;
  border-radius: 1rem;
  padding: 0;
  color: #6f6f6f;
  cursor: pointer;
}

sandbox-info.active .a{
  opacity: 1;
  pointer-events: all;
}

sandbox-info .a p + p{
  margin-top: 4px;
}