
.Marquee__Container{
  display: flex;
}

.Marquee__Text{
  font-size: 145px;
  font-family: system-ui;
  font-weight: normal;
  color: #000;
  line-height: 107px;
}

.Marquee__Text span{
  display: inline-block;
  padding-right: 150px;
}

.Marquee__Text.clone{
  margin-left: 0;
}


@keyframes slideinMarquee {
  from {
    transform: translate3d(-60%, 0, 0);
  }
  
  to {
    transform: translate3d(-10%, 0, 0);
  }
}





.sandbox__marquee .sandbox__wrapper{
  padding: 3rem 0;
}

.sandbox__marquee.custom .sandbox__wrapper{
  padding: 1rem 0;
}
.sandbox__marquee.custom .Marquee__Text{
  font-size: 45px;
}

.sandbox__marquee.custom .Marquee__Text span{
  padding-right: 20px;
}


body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  scroll-behavior: initial;
  -webkit-transform:translate3d(0,0,0);
}

.marquee__container{
  position: relative;
  white-space: nowrap;
  display: inline-flex;
  transform: translate3d(0, 0, 1px);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  /* width: 100vw; */
  /* overflow-x: hidden */

  /* animation: slideinMarquee 10s linear infinite */
}

.marquee__group_container{
  position: relative;
  white-space: nowrap;
  display: inline-flex;
  width: auto
}

.marquee__track{
  display: inline-block;
  box-sizing: border-box;
  font-size: 0
}

.marquee__container p{
  font-size: 3rem;
  /* font-weight: 100; */
  /* padding: 0 2rem; */
  /* text-transform: uppercase; */
}